global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend api_front
  bind :80
  default_backend webservers

backend webservers
  balance roundrobin
  server server1 server1:5000 check
  server server2 server2:5000 check
  server server3 server3:5000 check
  server server4 server4:5000 check
  server server5 server5:5000 check
  server server6 server6:5000 check
  server server7 server7:5000 check
  server server8 server8:5000 check
